body{
    background: #111;
    padding:0;
    margin: 0;
}


.booth{
    width: 400px;
    background-color: #cccccc;
    border: 10px solid #dddddd;
    margin: 0 auto;
}

.cameraFlex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:50vw;
    margin: 120px auto;
}


.booth-capture-button{
    display: block;
    /* width:100%; */
    border:none;
    outline: none;
    margin: 0;
    padding: 10px 20px;
    background-color: rgb(255,0,34);
    color: white;
    font-family: Lato;
    text-align: center;
    text-decoration: none;
}

.submit-btn{
    margin-top:20px;
    display: inline-block;
  background-color:#555;;
  text-transform: uppercase;
  color:white;
  font-family: 'Lato', sans-serif;
  padding:15px 20px;
  letter-spacing: .2em;
  cursor: pointer;
  transition: all 0.3s;
}

.submit-btn:hover{
    background-color: rgb(255, 0, 34);
  border-radius: 15px;
  transform:scale(1.1);
}

#canvas{
    display: none;
}